div {
    border-radius: 20px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, sans-serif;
}
 
#container {
    width: 1000px;
}
 
#header {
    z-index: 1;
    background-color: AliceBlue;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px 10px 50px 20px;
}
 
#pic {
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    box-shadow: 3px 3px 3px #585858;
}
 
h2 {
    text-shadow: 1px 1px Gray;
}
 
h4 {
    text-shadow: 1px 1px Gray;
}
 
.skills {
    background-color: WhiteSmoke ;
    padding: 5px 20px 10px 20px;
    margin-bottom: 5px;
}
 
.work {
    background-color: WhiteSmoke ;
    padding: 5px 20px 10px 20px;
    margin-bottom: 5px;
}
 
.school {
    background-color: WhiteSmoke ;
    padding: 5px 20px 10px 20px;
    margin-bottom: 10px;
}
 
.volunteer {
    background-color: WhiteSmoke ;
    padding: 5px 20px 10px 20px;
    margin-bottom: 10px;
}
 
#footer {
    background-color: AliceBlue;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
 
}
 
#contact {
    border-radius: 15px;
    background-color: WhiteSmoke ;
    width: 120px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 3px #585858;
    border: 1px solid black;
}
 
a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px Gray;
}
 
table {
    margin: auto;
    padding-left:100px;
    padding-bottom: 10px;
}
 
td {
    text-align: left;
    width: 300px;
}
